<div class="container">
  <div class=" row text-center me-5 pe-4" style="word-wrap: break-word;">
    <h1 class="m-5"><%=@article.tittle %></h1></div> 


<div class="container-sm mt-5 me-4 text-justify" style="word-wrap: break-word;">
	<%=@article.content %>


</div>

<div class="row mb-5 pb-5 mx-3">
  <p class="label"> Tags</p>
  <% @article.categories.each do |category| %>
  <span class="badge badge-pill padding" style="background-color: <%= category.color%> ; width: 40px;">
    <%= link_to  category.title, category, class:"text-white" %>
  </span>  
  <% end %>
</div>
</div>


<% if user_signed_in? %>


<div>




</div>

<div class="row mt-4">

  <span> 	<%= link_to  "Eliminar", article_path(@article),data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  },class: "btn btn-danger w-25" %> </span>
</div>
<div class="row mt-3 mb-5">
    <span">
	<%= link_to  "Editar", edit_article_path(@article), class:"btn btn-warning w-25" %>  
</span>
   </div>

                
</div>
  
<% end %>




</div>